/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	// min-height: 100vh;
	background: linear-gradient(to bottom right, blue, pink);
	background-attachment: fixed;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	.hashtag-search {
		margin: 50px 0px;
		width: 60%;
		height: 50px;
	}
	ul {
		width: 60%;
		text-align: left;
		li {
			margin: 10px 0px;
		}
	}
}
